<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
    <div class="crs_grid shadow_none brd">
        <div class="crs_grid_thumb">
            <a href="course-detail.html" class="crs_detail_link">
                <img src="{{ course.image.url }}" class="img-fluid rounded" alt="">
            </a>
            <div class="crs_video_ico">
                <i class="fa fa-play"></i>
            </div>
            <div class="crs_locked_ico">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="crs_grid_caption">
            <div class="crs_flex">
                <div class="crs_fl_first">
                    <div class="crs_cates cl_8"><span>طراحی اپلیکیشن</span></div>
                </div>
                <div class="crs_fl_last">
                    <div class="crs_inrolled"><strong>8,350</strong>شرکت کننده</div>
                </div>
            </div>
            <div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">{{ course.title }}</a></h4></div>
            <div class="crs_info_detail">
                <ul>
                    <li><i class="fa fa-clock text-danger"></i><span>2ساعت 100دقیقه</span></li>
                    <li><i class="fa fa-video text-success"></i><span>67 دوره</span></li>
                    {% if course.level == 'begginer' %}
                        <li><i class="fa fa-signal text-warning"></i><span>{{ course.level }}</span></li>

                    {% elif course.level == 'intermediate' %}
                        <li><i class="fa fa-video text-success"></i><span>{{ course.level }}</span></li>
                    {% else %}
                        <li><i class="fa fa-clock text-danger"></i><span>{{ course.level }}</span></li>
                    {% endif%}
                    
                </ul>
            </div>
        </div>
        <div class="crs_grid_foot">
            <div class="crs_flex">
                <div class="crs_fl_first">
                    <div class="crs_tutor">
                        <div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/user-6.jpg" class="img-fluid circle" alt=""></a></div><div class="crs_tutor_name"><a href="instructor-detail.html">مژگان حسینی</a></div>
                    </div>
                </div>
                <div class="crs_fl_last">
                    <div class="crs_price"><h2><span class="theme-cl">{{ course.get_price_with_discount }}</span><span class="currency">تومان</span></h2></div>
                </div>
            </div>
        </div>
    </div>
</div>